/public/hot
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/api-mlhud/config
/web/storage/logs
/api-isms/storage/logs
/api-isms/composer.lock
/web/public/demo_document
/web/vendor